body {
    font-family: 'Raleway', sans-serif;
}

#logo {
    margin-top: 35px;
}

#definition-source {
    text-align: right;
}

#knowledge {
    height: 50%;
}

#bottle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
}

#grove {
    position: absolute;
    top: -10px;
    left: 50px;
}

#olives {
    position: absolute;
    top: -10px;
    left: 300px;
}

#mill {
    position: absolute;
    top: -10px;
    left: 520px;
}

#refinery {
    position: absolute;
    top: 350px;
    left: 516px;
}

#bottler {
    position: absolute;
    top: -10px;
    left: 768px;
}

#consumer {
    position: absolute;
    top: -10px;
    right: -10px;
}

#color {
    position: absolute;
    top: 30%;
    left: 16%;
}

#evoo {
    position: absolute;
    top: 72%;
    left: 11%;
}

#size {
    position: absolute;
    top: 81%;
    left: 17%;
}

#seal {
    position: absolute;
    right: 18%;
    top: 55%;
}

#harvest {
    position: absolute;
    right: 25%;
    top: 78%;
}

.card-title {
    font-size: 16px;
}

.click {
    font-size: 13px;
}

.card-flip {
  -webkit-perspective: 1000;
  width: 350px;
  /* height: 200px; */
  position: relative;
  margin: 50px auto;
    }
.card-flip .card.flipped {
-webkit-transform: rotatey(180deg);
}
.card-flip .card {
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;
}
.card-flip .card .face {
width: 100%;
height: 100%;
position: absolute;
-webkit-backface-visibility: hidden;
z-index: 2;
}
.card-flip .card .front {
position: absolute;
z-index: 1;
background: rgb(233, 233, 233);
cursor: pointer;
border-radius: 10px;
}
.card-flip .card .back {
-webkit-transform: rotatey(-180deg);
background: #443742;
color: white;
cursor: pointer;
border-radius: 10px;
}

.popover-header {
    color: white;
    background: #394f49;
    font-size: 15px;
}
.popover-body {
    color: black;
    font-size: 14px;
}

.small_wrapper {
    display: none;
}

@media only screen and (max-width: 1199px) {
    #color {
        position: absolute;
        top: 30%;
        left: 10%;
    }
    #evoo {
        position: absolute;
        top: 72%;
        left: 3%;
    }

    #size {
        position: absolute;
        top: 81%;
        left: 11%;
    }
    
    #seal {
        position: absolute;
        right: 12%;
        top: 55%;
    }
    
    #harvest {
        position: absolute;
        right: 20%;
        top: 78%;
    }    
  }

  @media only screen and (max-width: 990px) {
    #color {
        position: absolute;
        top: 30%;
        left: 8%;
    }
    #evoo {
        position: absolute;
        top: 72%;
        left: -1%;
    }

    #size {
        position: absolute;
        top: 81%;
        left: 6%;
    }
    
    #seal {
        position: absolute;
        right: 8%;
        top: 55%;
    }
    
    #harvest {
        position: absolute;
        right: 18%;
        top: 78%;
    } 
  }

  #usda {
    margin-right: 4px;
    width: 60px;
    float: left;
  }

  #cooc {
    margin-right: 4px;
    width: 60px;
    float: left;
  }

  #naooa {
    margin-right: 4px;
    width: 60px;
    float:left;
  }

  @media only screen and (max-width: 770px) {
    /* #color {
        display: inline-block;
        top: 100%;
    }
    #evoo {
        display: inline-block;
        top: 100%;
    }

    #size {
        display: inline-block;
        top: 100%;
    }
    
    #seal {
        display: inline-block;
        top: 100%;
    }
    
    #harvest {
        display: inline-block;
        top: 100%;
    }  */

    .wrapper {
        display: none;
    }

    .small_wrapper{
        display: block;
        text-align: center;
    }

    .small_wrapper .button{
        margin-top: 30px;
    }
  }

  .attributeImg {
      padding: 15px;
  }

  .attrBox {
      height: 100px;
  }

  #backButton {
      text-align: left;
  }

  #sourcesBanner {
      height: 180px;
  }