body {
    font-family: 'Raleway', sans-serif;
}

#logo {
    margin-top: 35px;
}

#definition-source {
    text-align: right;
}

#knowledge {
    height: 700px;
}

.card-title {
    font-size: 16px;
}

.click {
    font-size: 13px;
}

.card-flip {
  -webkit-perspective: 1000;
  width: 350px;
  /* height: 200px; */
  position: relative;
  margin: 50px auto;
    }
.card-flip .card.flipped {
-webkit-transform: rotatey(180deg);
}
.card-flip .card {
width: 100%;
height: 100%;
-webkit-transform-style: preserve-3d;
-webkit-transition: 0.5s;
}
.card-flip .card .face {
width: 100%;
height: 100%;
position: absolute;
-webkit-backface-visibility: hidden;
z-index: 2;
}
.card-flip .card .front {
position: absolute;
z-index: 1;
background: rgb(233, 233, 233);
cursor: pointer;
border-radius: 10px;
}
.card-flip .card .back {
-webkit-transform: rotatey(-180deg);
background: #443742;
color: white;
cursor: pointer;
border-radius: 10px;
}
